/* Estilos globales del cuerpo del documento */
body {
    margin: 0;
    overflow: hidden; /* Evita el desplazamiento vertical */
    background-color: #fceff5; /* Color de fondo */
    font-family: 'Quicksand', sans-serif; /* Fuente predeterminada */
}

/* Estilos para el loader de carga */
.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Asegura que el loader esté en la capa superior */
}

.loader::after {
    /* Animación de carga */
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #ff8ab3;
    border-color: #ff8ab3 transparent #ff8ab3 transparent;
    animation: spin 2s linear infinite;
}

/* Estilos para la sección de contenido */
.content {
    display: none; /* Inicialmente oculta */
    text-align: center;
    animation: fadeIn 2s ease-in-out; /* Animación de aparición */
    color: #d26082;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* Estilos para el título h1 dentro de .content */
h1 {
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 42px;
}

/* Estilos para el contenedor de botones */
.button-container {
    margin-top: 20px;
}

/* Estilos para botones personalizados */
.custom-btn {
    margin: 0 10px 10px;
    background-color: #ff6699;
    border: none;
    color: #fff;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilos específicos para el botón "Sí" */
.btn-yes {
    background-color: #e03e70;
}

/* Estilos específicos para el botón "No" */
.btn-no {
    background-color: #f082af;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/* Estilos para esconder el botón "No" */
.btn-no-hidden {
    opacity: 0;
    pointer-events: none;
}

/* Animación de aparición y desaparición */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Animación de rotación para el loader */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Estilos para un rectángulo personalizado */
.custom-rectangle {
    background-color: rgba(255, 192, 203, 0.7);
    border: 2px solid #ff007f;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    width: 90%;
    max-width: 250px;
    position: absolute;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
}

/* Estilos para el título h2 dentro de .custom-rectangle */
.custom-rectangle h2 {
    margin: 0;
    color: #ff007f;
}

/* Animación de aparición y desaparición para .custom-rectangle */
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Animación de desaparición para .custom-rectangle */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}